<template name="layout">
	{{#if currentUser}} 
	<header role="navigation" class="main-header">
		<div class="navigation-bar">
			<div class="home-button"> <a href="{{pathFor 'emptyTemplate'}}"><img class="icon" src="/img/home.png"></a> </div>
			<div class="plus-button"> <a href="{{pathFor 'addToDo'}}"><img class="icon" src="/img/plus.png"></a>
			</div>
			<ul class="ul-switch">
				<li> <img src="/img/switch.png">
					<ul>
						<li> <a href="{{pathFor 'dailyTimed'}}"> Calendar View </a> </li>
						<li> <a href="{{pathFor 'dailyList'}}"> List View </a> </li>
					</ul>
				</li>
			</ul>
		</div>
	</header>
	<div id="main" class="main-section">
		<!-- {{> yield}} helper defines a special dynamic zone that will automatically render whichever template corresponds to the current route -->
		{{> yield}}
	</div>
	{{/if}}
</template>