<template name="layout">
	<header role="navigation">
		{{#if currentUser}} <a href="{{pathFor 'toDoList'}}"> Back to List Overview </a> {{/if}}
	</header>
	<div>
		<ul>
			<li> Switch View
				<ul>
					<li> <a href="{{pathFor 'timeBased'}}"> Time Based View </a> </li>
					<li> <a href="{{pathFor 'listView'}}"> List View </a> </li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="main">
		<!-- {{> yield}} helper defines a special dynamic zone that will automatically render whichever template corresponds to the current route -->
		{{> yield}}
	</div>
</template>