<template name="listView">
	<a style="display: inline-block;" href="{{pathFor 'dailyList'}}"> <button class="display-buttons">Daily</button> </a>
	<a style="display: inline-block;" href="{{pathFor 'weeklyList'}}"> <button class="display-buttons">Weekly</button> </a>
	<a style="display: inline-block;" href="{{pathFor 'monthlyList'}}"> <button class="display-buttons">Monthly</button> </a>
	<a style="display: inline-block;" href="{{pathFor 'yearlyList'}}"> <button class="display-buttons">Yearly</button> </a>
</template>