<template name="weeklyList">
	<div> {{> listView}} </div>
	<section class="weeklyList-section" id="weeklyList-section">
	<!-- Three Days Ago-->
		<ul class="weeklyList-ul" id="threeDaysAgo-list-ul">
			{{#each threeDaysAgo}}
				{{> toDoItem}}
			{{/each}}
		</ul>
	<!-- Two Days Ago-->
		<ul class="weeklyList-ul" id="twoDaysAgo-list-ul">
			{{#each twoDaysAgo}}
				{{> toDoItem}}
			{{/each}}
		</ul>
	<!-- Yesterday-->
		<ul class="weeklyList-ul" id="yesterday-list-ul">
			{{#each yesterday}}
				{{> toDoItem}}
			{{/each}}
		</ul>
	<!-- Today-->
		<ul class="weeklyList-ul" id="toDoToday-list-ul">
			{{#each toDoToday}}
				{{> toDoItem}}
			{{/each}}
		</ul>
	<!-- Tomorrow-->
		<ul class="weeklyList-ul" id="tomorrow-list-ul">
			{{#each tomorrow}}
				{{> toDoItem}}
			{{/each}}
		</ul>
	<!-- In Two Days-->
		<ul class="weeklyList-ul" id="inTwoDays-list-ul">
			{{#each inTwoDays}}
				{{> toDoItem}}
			{{/each}}
		</ul>
	<!-- In Three Days-->
		<ul class="weeklyList-ul" id="inThreeDays-list-ul">
			{{#each inThreeDays}}
				{{> toDoItem}}
			{{/each}}
		</ul>
	</section>
</template>