/* HEADER SECTION */
/* HEADER SECTION */
.main-header{
	margin-top: 10px;
	background: #323232;
	box-shadow: 0px 3px 5px #888, 0px -3px 5px #888;
}

.navigation-bar{
	display: inline-block;
}

/* home button */
.home-button{
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 20px;
	left: 10px;}
	.home-button:hover { background: #666;}

.icon{
	position: relative;
	left: 12.5px;
	top: 12.5px;
}

/* plus button */
.plus-button{
	border-radius: 20px;
	position: relative;
  	left: 20px;
	float: left;
	width: 100px;
	height: 100px;}
	.plus-button:hover { background: #666;}

/* switch dropdown menu */
.ul-switch{
	float: left;
	position: absolute;
	right: 5%;
	text-align: left;
	display: inline;
	margin: 0;
	list-style: none;
}
.ul-switch li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.ul-switch li:hover {
	background: #555;
	color: #fff;
}
.ul-switch li ul {
	padding: 0;
	position: absolute;
	top: 100px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
.ul-switch li ul li { 
	background: #555; 
	display: block; 
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}
.ul-switch li ul li a{
	color: #fefefe;
}
.ul-switch li ul li:hover { background: #666; }
.ul-switch li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}




/* MAIN SECTION */
/* MAIN SECTION */
.main-section{
	margin-top: 20px;
}

.date-header {
    list-style-type: none;
}

.display-buttons{
	margin-bottom: 25px;
	margin-left: 15px;
	background-color: #383636;
	border-color: grey;
	color: white;
	border-radius: 17%;
	width: 135px;
	height: 50px;
	font-size: x-large;
	border-width: 6px;
	box-shadow: 2px 2px 2px #000;}
	.display-buttons:hover{
		background-color: #666;
		border-color: rgb(234, 234, 234);
		color: rgb(142, 143, 186);
		box-shadow: 2px 2px 2px rgb(142, 143, 186);	
	}

/* 	================================  daily section ============================= */
.daily-item{
	cursor: help;
	text-align: left;
	margin-left: 20px;
	width: 80%;
	margin-bottom: 5px;
}

.edit-title{
	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
	width: 15px;
	height: 15px;
	opacity: 0.7;}
	.edit-title:hover{
		opacity: 1;
		-ms-transform: scale(1.2,1.2); /* IE 9 */
   		-webkit-transform: scale(1.2,1.2); /* Safari */
    	transform: scale(1.2,1.2);
	}

.item-paragraph{
	position: relative;
	left: 15px;
}

.check-button-style{
	height: 50px;
	width: 50px;
	position: relative;
	left: 15px;
	opacity: 0.7;}
	.check-button-style:hover{
		opacity: 1;
	}

.check-button-img{
	height: 50px;
	width: 50px;
	left: -9px;
	top: -2px;
	position: relative;
}

.is-checked{ background-color: green; }
.not-checked{ background-color: yellow; }

.dailyTimed-li{
	margin-left: 1.0%;
	width: 95%;
	line-height: 40px;
	height: 40px;
	font-size: 15px;
	color: #000;
	text-align: center;
	background: #F2EEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #171717;
	border-radius: 9px;
	margin-top: 1px;
	box-shadow: 1px 2px 7px;}
	.dailyTimed-li:hover{
		background: #FCFCFC;
		color: #BABABA;
	}

/* 	================================  weekly section ============================= */
.weeklyTimed-section{

}

.weekly-header{
	background: #000;
	color: #fefefe;
	margin-bottom: 8px;
	box-shadow: 2px 2px 2px #171717;
	border-radius: 4px;
}

.weeklyTimed-ul{
	width: 14%;
	float: left;
	text-align: center;
}

.weeklyTimed-li{
	line-height: 40px;
	height: 40px;
	font-size: 15px;
	color: #000;
	text-align: center;
	background: #F2EEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #171717;
	border-radius: 9px;
	margin-top: 1px;
	box-shadow: 1px 2px 7px;}
	.weeklyTimed-li:hover{
		background: #FCFCFC;
		color: #BABABA;
	}

/* 	================================  monthly section ============================= */
.monthlyTimed-ul-ul{
	margin-left: 1.0%;
	width: 70%;
	font-size: 15px;
	color: #000;
	text-align: center;
	background: #F2EEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #171717;
	border-radius: 9px;
	margin-top: 1px;
	box-shadow: 1px 2px 7px;}
	.monthlyTimed-ul-ul:hover{
		background: #FCFCFC;
		color: #BABABA;
	}

.monthly-li{
	text-align: left;
	width: 50%;
	line-height: 15px;
	color: #000;
	margin-bottom: 5px;
}

/* 	================================  yearly section ============================= */
.yearlyTimed-ul-ul{
	margin-left: 1.0%;
	width: 70%;
	font-size: 15px;
	color: #000;
	text-align: center;
	background: #F2EEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #171717;
	border-radius: 9px;
	margin-top: 1px;
	box-shadow: 1px 2px 7px;}
	.yearlyTimed-ul-ul:hover{
		background: #FCFCFC;
		color: #BABABA;
	}

.unchecked{ background: yellow; }
.checked{ background: green; }

.ul-ul-open{ background: white; }

.time-selection{
	position: absolute;
	right: 5%;
	display: inline;
	background: #222222;
	height: 55px;
	width: 230px;
	border-radius: 7px;
	box-shadow: 2px 3px 7px #555;
	color: rgb(237, 236, 236);
	text-shadow: 1px 1px 2px #fefefe;
}

.s-selectBox{
	float: left;
	background: #323232;
	color: #fefefe;
	width: 60px;
	height: 40px;
	border-radius: 5px;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-color: rgb(92, 82, 82);
	box-shadow: 2px 2px 2px #555;
	position: relative;
    top: 5px;
}

.time-id{
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	position: relative;
	top: 6px;
}

/* 	================================  add to-do  ============================= */
.to-do-form{
	position: relative;
	width: 90%;
	left: 5%;
	top: 50px;
}

.add-to-do-button{
	margin-top: 20px;
	background-color: #383636;
	border-color: grey;
	color: white;
	border-radius: 17%;
	width: 150px;
	height: 50px;
	font-size: x-large;
	border-width: 6px;
	box-shadow: 2px 2px 2px #000;}
	.add-to-do-button:hover{
		background-color: #666;
		border-color: rgb(234, 234, 234);
		color: rgb(142, 143, 186);
		box-shadow: 2px 2px 2px rgb(142, 143, 186);	
	}