/* BODY SECTION */
/* BODY SECTION */
body{
	height: 100%;
	width: 100%;
	background: url("/img/background-login.png") no-repeat fixed center;
	background-size: cover;
}

/* 	================================  daily section ============================= */
.login-logging-section{
	position: absolute;
	width: 25%;
	left: 37.5%;
	top: 20%;
	height: 400px;
	background: #323232;
	color: #fefefe;
	border-radius: 8px;
	box-shadow: 0 0 10px #fff;
	opacity: 0.95;
}

.login-form.login-password-form{
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	height: 400px;
}

.login-form.login-password-form label{
	color: rgb(111, 107, 107);
}

.login-header-section a{ 
	color: #fefefe;
}

#login-username-label-and-input{
	top: 100px;
	left: 10%;
	position: relative;
}
#login-username{
	color: #000;
	border-radius: 6px;
	height: 35px;
	width: 80%;
	box-shadow: 2px 2px 1px #A59F9F;
}

#login-password-label-and-input{
	top: 120px;
	left: 10%;
	position: relative;
}
#login-password{
	color: #000;
	border-radius: 6px;
	height: 35px;
	width: 80%;
	box-shadow: 2px 2px 1px #A59F9F;
}

#login-password-again-label-and-input{
	position: relative;
	top: 140px;
	left: 10%;
}
#login-password-again{
	color: #000;
	border-radius: 6px;
	height: 35px;
	width: 80%;
	box-shadow: 2px 2px 1px #A59F9F;
}

#signup-link{
	color: #fefefe;
}

.login-link-and-dropdown-list a{
	color: #000;
}

.login-button.login-button-form-submit{
	position: absolute;
	bottom: 10px;
	height: 35px;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px 2px 1px #A89393;
	width: 125px;
	border-radius: 7px;
	background: #486160;
	box-shadow: 1px 1px 1px #9E9191;}
	.login-button.login-button-form-submit:hover{
		text-shadow: 1px 2px 1px #C5B5B5;
		color: rgb(208, 208, 208);
		background: #5E807E;
		box-shadow: 1px 1px 1px #C7B5B5;
	}

.additional-link{
	position: absolute;
	bottom: 5px;
	right: 5px;
}

/*
.additional-link-container{
	position: absolute;
	bottom: 10px;
	height: 35px;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px 2px 1px #A89393;
	width: 125px;
	border-radius: 7px;
	background: #486160;
	box-shadow: 1px 1px 1px #9E9191;}
	.additional-link-container:hover{
		text-shadow: 1px 2px 1px #C5B5B5;
		color: rgb(208, 208, 208);
		background: #5E807E;
		box-shadow: 1px 1px 1px #C7B5B5;
	}
*/

.message.error-message{
	position: relative;
	top: 150px;
	color: red;
	text-shadow: 0px 0px 1px #fefefe;
}

/* HEADER SECTION */
/* HEADER SECTION */
.main-header{
	margin-top: 10px;
	background: #323232;
	box-shadow: 0px 3px 5px #888, 0px -3px 5px #888;
}

.navigation-bar{
	display: inline-block;
}

/* home button */
.home-button{
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 20px;
	left: 10px;}
	.home-button:hover { background: #666;}

.icon{
	position: relative;
	left: 12.5px;
	top: 12.5px;
}

/* plus button */
.plus-button{
	border-radius: 20px;
	position: relative;
  	left: 20px;
	float: left;
	width: 100px;
	height: 100px;}
	.plus-button:hover { background: #666;}

/* switch dropdown menu */
.ul-switch{
	float: left;
	position: absolute;
	right: 5%;
	text-align: left;
	display: inline;
	margin: 0;
	list-style: none;
}
.ul-switch li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.ul-switch li:hover {
	background: #555;
	color: #fff;
}
.ul-switch li ul {
	padding: 0;
	position: absolute;
	top: 100px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
.ul-switch li ul li { 
	background: #555; 
	display: block; 
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}
.ul-switch li ul li a{
	color: #fefefe;
}
.ul-switch li ul li:hover { background: #666; }
.ul-switch li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}




/* MAIN SECTION */
/* MAIN SECTION */
.main-section{
	margin-top: 20px;
}

.date-header {
    list-style-type: none;
}

.display-buttons{
	margin-bottom: 25px;
	margin-left: 15px;
	background-color: #383636;
	border-color: grey;
	color: white;
	border-radius: 17%;
	width: 135px;
	height: 50px;
	font-size: x-large;
	border-width: 6px;
	box-shadow: 2px 2px 2px #000;}
	.display-buttons:hover{
		background-color: #666;
		border-color: rgb(234, 234, 234);
		color: rgb(142, 143, 186);
		box-shadow: 2px 2px 2px rgb(142, 143, 186);	
	}

/* 	================================  daily section ============================= */
.daily-item{
	cursor: help;
	text-align: left;
	margin-left: 20px;
	width: 80%;
	margin-top: 2px;
	margin-bottom: 5px;
	background: #fefefe;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	padding-bottom: 5px;
	padding-left: 5px;
}

.edit-title{
	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
	width: 15px;
	height: 15px;
	opacity: 0.7;}
	.edit-title:hover{
		opacity: 1;
		-ms-transform: scale(1.2,1.2); /* IE 9 */
   		-webkit-transform: scale(1.2,1.2); /* Safari */
    	transform: scale(1.2,1.2);
	}

.item-paragraph{
	position: relative;
	left: 15px;
}

.check-button-style{
	height: 50px;
	width: 50px;
	position: relative;
	left: 15px;
	opacity: 0.7;}
	.check-button-style:hover{
		opacity: 1;
	}

.check-button-img{
	height: 50px;
	width: 50px;
	left: -9px;
	top: -2px;
	position: relative;
}

.is-checked{ background-color: green; }
.not-checked{ background-color: yellow; }

.dailyTimed-li{
	margin-left: 1.0%;
	width: 95%;
	line-height: 40px;
	height: 40px;
	font-size: 15px;
	color: #000;
	text-align: center;
	background: #F2EEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #171717;
	border-radius: 9px;
	margin-top: 1px;
	box-shadow: 1px 2px 7px;}
	.dailyTimed-li:hover{
		background: #FCFCFC;
		color: #BABABA;
	}

/* 	================================  weekly section ============================= */
.weeklyTimed-section{

}

.weekly-header{
	background: #000;
	color: #fefefe;
	margin-bottom: 8px;
	box-shadow: 2px 2px 2px #171717;
	border-radius: 4px;
}

.weeklyTimed-ul{
	width: 14%;
	float: left;
	text-align: center;
}

.weeklyTimed-li{
	line-height: 40px;
	height: 40px;
	font-size: 15px;
	color: #000;
	text-align: center;
	background: #F2EEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #171717;
	border-radius: 9px;
	margin-top: 1px;
	box-shadow: 1px 2px 7px;}
	.weeklyTimed-li:hover{
		background: #FCFCFC;
		color: #BABABA;
	}

/* 	================================  monthly section ============================= */
.monthlyTimed-ul-ul{
	margin-left: 1.0%;
	width: 70%;
	font-size: 15px;
	color: #000;
	text-align: center;
	background: #F2EEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #171717;
	border-radius: 9px;
	margin-top: 1px;
	box-shadow: 1px 2px 7px;}
	.monthlyTimed-ul-ul:hover{
		background: #FCFCFC;
		color: #BABABA;
	}

.monthly-li{
	text-align: left;
	width: 50%;
	line-height: 15px;
	color: #000;
	margin-bottom: 5px;
}

/* 	================================  yearly section ============================= */
.yearlyTimed-ul-ul{
	margin-left: 1.0%;
	width: 70%;
	font-size: 15px;
	color: #000;
	text-align: center;
	background: #F2EEEE;
	border-style: solid;
	border-width: 1px;
	border-color: #171717;
	border-radius: 9px;
	margin-top: 1px;
	box-shadow: 1px 2px 7px;}
	.yearlyTimed-ul-ul:hover{
		background: #FCFCFC;
		color: #BABABA;
	}

.unchecked{ background: yellow; }
.checked{ background: green; }

.ul-ul-open{ background: white; }

.time-selection{
	position: absolute;
	right: 5%;
	display: inline;
	background: #222222;
	height: 55px;
	width: 230px;
	border-radius: 7px;
	box-shadow: 2px 3px 7px #555;
	color: rgb(237, 236, 236);
	text-shadow: 1px 1px 2px #fefefe;
}

.s-selectBox{
	float: left;
	background: #323232;
	color: #fefefe;
	width: 60px;
	height: 40px;
	border-radius: 5px;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-color: rgb(92, 82, 82);
	box-shadow: 2px 2px 2px #555;
	position: relative;
    top: 5px;
}

.time-id{
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	position: relative;
	top: 6px;
}

/* 	================================  add/edit to-do  ============================= */
.to-do-form{
	position: relative;
	width: 90%;
	left: 5%;
	top: 50px;
}

.input-field-description{
	margin-top: 10px;
	background: #222222;
	height: 60px;
	width: 450px;
	border-radius: 8px;
	box-shadow: 2px 2px 2px #555;
	color: #fefefe;
}

.input-field-time{
	margin-top: 10px;
	background: #222222;
	height: 65px;
	width: 560px;
	border-radius: 8px;
	box-shadow: 2px 2px 2px #555;
}

.input-to-do-text{
	background: #323232;
	color: #fefefe;
	width: 215px;
	height: 40px;
	border-radius: 5px;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-color: rgb(92, 82, 82);
	box-shadow: inset 2px 2px 2px #555;
	position: relative;
	top: 7px;
	left: 5px;
}

.selection-label{
	color: #fefefe !important;
	margin-left: 10px;
	position: relative;
	top: 5px;
}

.s-time-selectBox{
	background: #323232;
	color: #fefefe;
	width: 60px;
	height: 40px;
	border-radius: 5px;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-color: rgb(92, 82, 82);
	box-shadow: 2px 2px 2px #555;
	position: relative;
    top: 10px;
}

.add-to-do-button{
	margin-top: 30px;
	background-color: #383636;
	border-color: grey;
	color: white;
	border-radius: 17%;
	width: 150px;
	height: 50px;
	font-size: x-large;
	border-width: 6px;
	box-shadow: 2px 2px 2px #000;}
	.add-to-do-button:hover{
		background-color: #666;
		border-color: rgb(234, 234, 234);
		color: rgb(142, 143, 186);
		box-shadow: 2px 2px 2px rgb(142, 143, 186);	
	}

.delete-to-do{
	transition: 1s all;
	margin-top: 30px;
	margin-left: 20px;
	background-color: #D82222;
	border-color: rgb(187, 72, 72);
	border-radius: 17%;
	width: 185px;
	height: 50px;
	color: #000;
	font-weight: bold;
	font-size: x-large;
	border-width: 6px;
	box-shadow: 2px 2px 2px #000;}
	.delete-to-do:hover{
		background-color: #E04040;
		border-color: rgb(215, 116, 116);
		color: #561B1B;
		box-shadow: 2px 2px 2px rgb(142, 143, 186);	
	    -ms-transform: scale(1.05, 1.05); /* IE 9 */
	   	-webkit-transform: scale(1.05, 1.05); /* Safari */
	    transform: scale(1.05, 1.05);
	}

/* 	================================  Introduction  ============================= */
.introduction{
	height: 300px;
	width: 70%;
	background: #F1F1F1;
	border-radius: 15px;
	position: relative;
	left: 15%;
	top: 50px;
}

.greeting{
	padding-left: 20px;
	padding-top: 20px;
	font-size: 30px;
}

.explaination{
	padding-left: 30px;
	padding-top: 20px;
	font-size: 20px;
	color: #6C6C6C;
}

.todaysDate{
	position: absolute;
	font-weight: bold;
	right: 15px;
	bottom: 10px;
	font-size: 15px;	
}