/* HEADER SECTION */
/* HEADER SECTION */
.main-header{
	margin-top: 10px;
	background: #323232;
	box-shadow: 0px 3px 5px #888, 0px -3px 5px #888;
}

.navigation-bar{
	display: inline-block;
}

/* home button */
.home-button{
	float: left;
	width: 100px;
	height: 100px;}
	.home-button:hover { background: #666;}

.icon{
	position: relative;
	left: 12.5px;
	top: 12.5px;
}

/* plus button */
.plus-button{
	float: left;
	width: 100px;
	height: 100px;}
	.plus-button:hover { background: #666;}

/* Switch dropdown menu */
.ul-switch{
	float: left;
	position: absolute;
	right: 5%;
	text-align: left;
	display: inline;
	margin: 0;
	list-style: none;
}
.ul-switch li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.ul-switch li:hover {
	background: #555;
	color: #fff;
}
.ul-switch li ul {
	padding: 0;
	position: absolute;
	top: 100px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
.ul-switch li ul li { 
	background: #555; 
	display: block; 
	color: #fff;
	text-shadow: 0 -1px 0 #000;
}
.ul-switch li ul li a{
	color: #fefefe;
}
.ul-switch li ul li:hover { background: #666; }
.ul-switch li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}


/* MAIN SECTION */
/* MAIN SECTION */
.main-section{
	margin-top: 20px;
}

.weeklyTimed-section{

}

.weeklyTimed-ul{
	float: left;
}

.date-header {
    list-style-type: none;
}

.display-buttons{
	margin-bottom: 15px;
	margin-left: 15px;
	background-color: #383636;
	border-color: grey;
	color: white;
	border-radius: 17%;
	width: 135px;
	height: 50px;
	font-size: x-large;
	border-width: 6px;
	box-shadow: 2px 2px 2px #000;}
	.display-buttons:hover{
		background-color: #666;
		border-color: rgb(234, 234, 234);
		color: rgb(142, 143, 186);
		box-shadow: 2px 2px 2px rgb(142, 143, 186);	
	}