<template name="dailyList">
	<ul class="dailyList-ul">
		{{#each toDo}}
		<!-- and display the data in the following form with the toDoItem template -->
			{{> toDoItem}}
		{{/each}}
	</ul>
	<!-- modify how items are listed, when template is called -->
	<script> 
		// get a reference to the dailyList-li items
		var $dailyList_li = $('.dailyList-li');

		// check for existing To_Dos coming from the server


		// create the missing list items dynamically
		/* <!--
		var create_empty_list = function(){
			for(var i=1; i < 25; i++){
				// create new empty list item
				$li_item = $('<li>');

				// add data attribute to list item
				$li_item.data("timeSlot", i);

				// append the li items to the unodered list
				$dailyList_li.append($li_item);
			}
		} -->
		*/
	</script>
</template>