<template name="toDoItem">
	<div>
		<h3> <a href="{{url}}"> {{title}} </a> <!-- <span> {{domain}} </span> --> </h3>
		<p> Description: {{description}} </p>
		<h5> I am going to do it at: {{time}} </h5>
		<p> Author is: {{author}} </p>
		<a href="{{pathFor 'toDoDetail'}}"> Click For Details </a>

		<!-- hide this link from user and only make it able to edit if the user owns the to do  -->
		<div> {{#if currentUser}} <a href="{{pathFor 'toDosEdit'}}"> Edit To Do </a> {{/if}} </div>
	</div>
</template>