<template name="timeBased">
	<div style="display: inline-block;">
		<a style="display: inline-block;" href="{{pathFor 'dailyTimed'}}"> <button class="display-buttons">Daily</button> </a>
		<div class="task-reminder {{taskCount}}">{{uncompletedDailyTasks}}</div>
	</div>
	<div style="display: inline-block;">
		<a style="display: inline-block;" href="{{pathFor 'weeklyTimed'}}"> <button class="display-buttons">Weekly</button> </a>
		<div class="task-reminder">{{uncompletedWeeklyTasks}}</div>
	</div>
	<div style="display: inline-block;">
		<a style="display: inline-block;" href="{{pathFor 'monthlyTimed'}}"> <button class="display-buttons">Monthly</button> </a>
		<div class="task-reminder">{{uncompletedMonthlyTasks}}</div>
	</div>
	<div style="display: inline-block;">
		<a style="display: inline-block;" href="{{pathFor 'yearlyTimed'}}"> <button class="display-buttons">Yearly</button> </a>
	</div>
</template>