<template name="timeBased">
	<a style="display: inline-block;" href="{{pathFor 'dailyTimed'}}"> <button class="display-buttons">Daily</button> </a>
	<a style="display: inline-block;" href="{{pathFor 'weeklyTimed'}}"> <button class="display-buttons">Weekly</button> </a>
	<a style="display: inline-block;" href="{{pathFor 'monthlyTimed'}}"> <button class="display-buttons">Monthly</button> </a>
	<a style="display: inline-block;" href="{{pathFor 'yearlyTimed'}}"> <button class="display-buttons">Yearly</button> </a>
</template>