<template name="weeklyTimed">
	<div> {{> timeBased}} </div>
	<section class="weeklyTimed-section" id="weeklyTimed-section">
	<!-- Three Days Ago-->
		<ul class="weeklyTimed-ul" id="threeDaysAgo-timed-ul">
			<div class="weekly-header"> Three Days Ago </div>
			{{#each hours}}
				<li class="date-header weeklyTimed-li">
					{{getHours}}
				</li>

				{{#each threeDaysAgo}}
					{{> toDoItem}}
				{{/each}}

			{{/each}}
		</ul>
	<!-- Two Days Ago-->
		<ul class="weeklyTimed-ul" id="twoDaysAgo-timed-ul">
			<div class="weekly-header"> Two Days Ago </div>
			{{#each hours}}
				<li class="date-header weeklyTimed-li">
					{{getHours}}
				</li>

				{{#each twoDaysAgo}}
					{{> toDoItem}}
				{{/each}}

			{{/each}}
		</ul>
	<!-- Yesterday-->
		<ul class="weeklyTimed-ul" id="yesterday-timed-ul">
			<div class="weekly-header"> Yesterday </div>
			{{#each hours}}
				<li class="date-header weeklyTimed-li">
					{{getHours}}
				</li>

				{{#each yesterday}}
					{{> toDoItem}}
				{{/each}}

			{{/each}}
		</ul>
	<!-- Today-->
		<ul class="weeklyTimed-ul" id="toDoToday-timed-ul">
			<div class="weekly-header"> Today {{todayDate}}</div>
			{{#each hours}}
				<li class="date-header weeklyTimed-li">
					{{getHours}}
				</li>

				{{#each toDoToday}}
					{{> toDoItem}}
				{{/each}}

			{{/each}}
		</ul>
	<!-- Tomorrow-->
		<ul class="weeklyTimed-ul" id="tomorrow-timed-ul">
			<div class="weekly-header"> Tomorrow </div>
			{{#each hours}}
				<li class="date-header weeklyTimed-li">
					{{getHours}}
				</li>

				{{#each tomorrow}}
					{{> toDoItem}}
				{{/each}}

			{{/each}}
		</ul>
	<!-- In Two Days-->
		<ul class="weeklyTimed-ul" id="inTwoDays-timed-ul">
			<div class="weekly-header"> In Two Days </div>
			{{#each hours}}
				<li class="date-header weeklyTimed-li">
					{{getHours}}
				</li>

				{{#each inTwoDays}}
					{{> toDoItem}}
				{{/each}}

			{{/each}}
		</ul>
	<!-- In Three Days-->
		<ul class="weeklyTimed-ul" id="inThreeDays-timed-ul">
			<div class="weekly-header"> In Three Days </div>
			{{#each hours}}
				<li class="date-header weeklyTimed-li">
					{{getHours}}
				</li>

				{{#each inThreeDays}}
					{{> toDoItem}}
				{{/each}}

			{{/each}}
		</ul>
	</section>
</template>