<template name="yearlyTimed">
	<div> {{> timeBased}} </div>
	<select name="monthlyTimed-select" id="monthlyTimed-select">
    	<option></option>
    </select>
    <select name="yearlyTimed-select" id="yearlyTimed-select">
    	<option></option>
    </select>
    <ul class="yearlyTimed-ul" id="yearlyTimed-ul">
        {{#each datesInCurrentMonth}}
            <ul class="date-header yearlyTimed-ul-ul">
                {{getDate}}
              
	            {{#each todosForDay}}
	                {{> toDoItemMonthly}}
	            {{/each}}
            </ul>
        {{/each}}
	</ul>
</template>